body
{
  background:rgb(75, 80, 84);
}
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
* {
  box-sizing: border-box;
}
.hbd
{
  text-align:center;
 
  padding:0px;
  margin:0px;
  font-family: 'Dancing Script', cursive;
  text-transform: uppercase;
  color: #eee;
}
.footer
{
  position: absolute;
  background: rgba(255,255,255,0.9);
  color:black;
  width: 100%;
  bottom: 0;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
.banner-txt
{
  text-align:center;
  padding:0px;
  margin:0px;
  color:white;
  text-transform:uppercase;
  font-family: 'Pacifico', cursive;
}
.container {
  width: 80%;
  max-width: 1000px;
  height: 80px;
  margin: 10px auto; 
  position: relative;
}

.one > div {
  height: 50px;
}

.main {
  background: rgb(240, 99, 90); 
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
}

.main > div {
  border: 1px dashed #fff;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
}

.bk {
 background: rgb(240, 99, 90);
 position: absolute;
 width: 8%;
 top: 12px;
}

.bk.l {
 left: 0;
}

.bk.r {
 right: 0;
}

.skew {
  position: absolute;
  background: rgb(225, 85, 88);
  width: 3%;
  top: 6px;
  z-index: 5;
}

.skew.l {
  left: 5%;
  transform: skew(00deg,20deg);
}

.skew.r {
  right: 5%;
  transform: skew(00deg,-20deg);
}

.bk.l > div {
  left: -30px;
}

.bk.r > div {
  right: -30px;
}

.arrow {
  height: 25px !important;
  position: absolute;
  z-index: 2;
	width: 0; 
	height: 0; 
}

.arrow.top {
  top: 0px;
  border-top: 0px solid transparent;
	border-bottom: 25px solid transparent; 	
	border-right: 30px solid rgb(240, 99, 90); 
}

.arrow.bottom {
  top: 25px;
  border-top: 25px solid transparent;
	border-bottom:0px solid transparent; 	
	border-right: 30px solid rgb(240, 99, 90); 
}

.r .bottom {
  border-top: 25px solid transparent;
	border-bottom: 0px solid transparent; 	
	border-left: 30px solid rgb(240, 99, 90); 
  border-right: none;
}

.r .top {
  border-bottom: 25px solid transparent;
	border-top: 0px solid transparent; 	
	border-left: 30px solid rgb(240, 99, 90); 
  border-right: none;
}

@media all and (max-width: 1020px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .skew.r {
    right: 5%;
    transform: skew(00deg,-40deg);
  }
  .banner-txt
  {
    font-size: 15px;
  }
  .hbd
  {
    font-size: 16px;
  }
}
